body {
  box-sizing: border-box;
}
.grandparent {
  width: 20rem;
  height: 20rem;
  background-color: teal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}

.parent {
  width: 90%;
  height: 40%;
  margin: 0.5rem;
  background-color: greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}
.child {
  width: 40%;
  height: 70%;
  background-color: bisque;
  margin-inline: 0.5rem;
  border: 3px solid black;
}
